<html>
    <head>
        <title>UNO!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <label id="turnLabel"></label>
        <label id="currentCardLabel"></label>
        <div class="cards_div">
            <table id="cards_label_table">
                <tr id="cards_label_row">
                    <th>Color</th>
                    <th>Value</th>
                    <th>Action</th>
                </tr>
            </table>
            <table id="cards_table"></table>
        </div>
        <button id="pickupButton">Pick up a card</button>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
</html>